<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodiMate - Footer</title>
    <link rel="stylesheet" th:href="@{/css/fix/footer.css}">
</head>
<body>
<!-- Footer Fragment -->
<footer class="footer" th:fragment="footer">
    <div class="footer-main-container">
        <div class="footer-main-content">
            <!-- 문의 사항 섹션 -->
            <div class="footer-contact">
                <p class="footer-menu-title">
                    문의 사항
                </p>
                <a class="footer-cs-tel">010-6248-8295</a>
                <div class="footer-cs-info">
                    <div class="footer-cs-item">평일 09:00-18:00</div>
                    <div class="footer-cs-subitem">주말·공휴일 제외</div>
                    <br>
                    <a class="footer-cs-item email">tkddn8828@hansung.ac.kr</a>
                </div>
            </div>
        </div>

        <!-- 회사 정보 -->
        <div class="footer-company-info">
            <div class="footer-company-info-list">
                <div class="footer-company-info-item">CodiMate</div>
                <div class="footer-divider"></div>
                <div class="footer-company-info-item">팀대표: 김상우</div>
                <div class="footer-divider"></div>
                <div class="footer-company-info-item">서울특별시 성북구 삼선교로 16길 116</div>
            </div>
            <div class="footer-company-info-list">
                <div class="footer-company-info-item">팀원: 김동석, 김도현, 김서진</div>
                <div class="footer-divider"></div>
                <div class="footer-company-info-item">한성대학교 빅데이터 트랙</div>
                <div class="footer-divider"></div>
                <div class="footer-company-info-item">데이터베이스 설계 프로젝트</div>
            </div>
            <div class="footer-company-info-copyright">© 2025 CodiMate. All rights reserved.</div>
        </div>
    </div>
</footer>

<script th:src="@{/js/fix/footer.js}"></script>
</body>
</html>